extends layout

block content
  script(type="text/jsx" src="javascripts/shoppinglist.js")
  input(type="text" id="titlefield" style="display:none" placeholder="title your list..")
  div(id="content")
